@font-face {
    font-family: "DreamOrphans";
    src: local("DreamOrphans.otf");
}
*{
    padding: 0;
    margin: 0;
    font-family: "DreamOrphans";
    font-size: 32px;
}
body{
    background: linear-gradient(0.25turn,#343292,#650000);
}
header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
}
.form{
    display: flex;
    justify-content: center;
}
table{
    display: flex;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border: solid black;
    border-radius: 10px;
    background: #b9b9b9;
    height: 750px;
}
tr{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.semi{
    border: solid blue;

    width: 50%;
}
td{
    text-align: left;
    margin-bottom: 10px;
}
.td1{
    width: 200px;
    margin-left: 10px;
}
.td2{
    width: 400px;
}
#fiche_vampire_description{
    position: absolute;
    text-align: start;
    height: 300px;
}
.endformbuttons{
    display: flex;
    justify-content: left;
}
.tdbuttonright{
    padding-top: 20px;
    margin-left: 5px;
}
.tdbuttonleft{
    padding-top: 20px;
    margin-right: 5px;
}
button{
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}
