body{
    background-color: #444443;
}
header{
    background: linear-gradient(#990000,black);
}
aside{
    background-color: #d9d6d6;
}
button {
    background: #b9b9b9;
}
.lienpartie{
    color: #b9b9b9;
    text-decoration: underline;
}